@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .page-header {
    @apply text-4xl font-medium lg:text-5xl;
  }

  .section-header {
    @apply text-3xl font-medium lg:text-4xl;
  }

  .section-subheader-01 {
    @apply text-xl font-normal lg:text-2xl;
  }

  .section-subheader-02 {
    @apply text-base font-normal lg:text-lg;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  /* top: 50px; */
  right: 25px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background: #fff;
}

#header {
  background-image: url("/src/assets/Services/img_samples-technician-large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  #header {
    background-image: url("/src/assets/Services/img_samples-technician-small.jpg");
    background-repeat: no-repeat;
    background-size: center;
  }
}

#home-hero {
  background-image: url("/src/assets/Home/img_hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  #home-hero {
    background-image: url("/src/assets/Home/img_hero.jpg");
    background-repeat: no-repeat;
    background-size: center;
  }
}
